*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
html{
    min-height: 100vh;
}
body{
    background-color: black;
}
.game{
    perspective: 500px;
}
.game-info{
    text-align: center;
}
.title{
    font-family: "Bungee Spice", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    margin:30px;
}
.game-info{
    grid-column: 1/-1;
    display:flex;
    justify-content:space-evenly;
    margin:30px;
}
.flips{
    font-family: "Bungee Spice", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.time{
    font-family: "Bungee Spice", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.cardcontainer{
    display:grid;
    grid-template-columns: repeat(4,auto);
    grid-gap: 10px;
    margin:30px;
    justify-content: center;
}
.card{
    height: 175px;
    width:125px;
    position:relative;
}
.face{
    position:absolute;
    display:flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height:100%;
    border-width: 1px;
    border-style: solid;
    overflow: hidden;
    transition: transform 500ms ease-in-out;
    backface-visibility: hidden;
}
.card.visible .back{
    transform: rotateY(-180deg); 
}
.card.visible .front{
    transform: rotateY(0); 
}
.card.matched .front .card-value{
    animation: dance 4s linear infinite 500ms;
} 
.back{
    border-color:aqua;
    border-style:solid;
    border-width: 2px;
    border-radius: 7px;
    background-color:chocolate;
    transform: rotateY(0); 
}
.spi{
    align-self:flex-start;
    position: absolute;
    top:15px;
    right:1px;
    height: 110px;
    transition: transform 0.5s, background-color 0.5s, box-shadow 0.5s;
    transition: width 100ms ease-in-out, height 100ms ease-in-out ;
}
.card-value{
    position: relative;
    transition: transform 100ms ease-in-out;
    transform:scale(.9);
}
.front:hover .card-value{
    transform: scale(1);
}
.front{
    border-style:solid;
    border-width: 2px;
    border-radius: 7px;
    background-color:rgb(229, 167, 123);
    border-color:aqua;
    transform: rotateY(180deg);
}
.back:hover .spi{
    height: 120px;
}
.card:hover{
    cursor: pointer;
    transform: scale(1.06);
    box-shadow:rgb(0, 255, 255);
}
.overlay-text{
    position: fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    justify-content: center;
    align-items: center;
    z-index:100;
    font-family:"Bungee Spice", sans-serif ;
    display:none;
    transition: background-color 500ms, font-size 1000ms;
}
.overlay-text-small{
    font-size: .3em;
}
.overlay-text.visible{
    display: flex;
    flex-direction: column;
    animation: overlay-grow 1500ms forwards;
}
@keyframes overlay-grow{
    from{
        background-color: rgba(0,0,0,0);
        font-size: 0;
    }
    to{
        background-color: rgba(0,0,0,0.9);
        font-size:5em;
    }
}
@keyframes dance{
    0%, 100% {
        transform: rotate(0)
      }
      25% {
        transform: rotate(-30deg)
      }
      75% {
        transform: rotate(30deg)
      }
}

@media (max-width:600px){
    .game{
        grid-template-columns: repeat(2,auto);   
    }
    .gameinfo{
        flex-direction: column;
        align-items: center;
    }
}



